@model List<MySensei.Models.Course>

@{
    ViewBag.Title = "Oversigt";
}

<section class="search">
    <h2>Søg efter kursus</h2>
    @using (Html.BeginForm("SearchCourses", "Courses", FormMethod.Post, new { @class = "sform" }))
    {
        <fieldset class="">
            <label class="input">
                @Html.TextBox("SearchString", null, new { @placeholder = "Søg.." })
            </label>
            <button type="submit" class="button s-btn">Find Sensei</button>
        </fieldset>
    }
</section>
<div class="clearfix"></div>
<section class="bluebg">
    <h1 class="center">Alle Kurser</h1>
@foreach (var course in Model)
{
    <div class="grid-4">
        <h3 class="center">@course.Title</h3>
        <p id="author">Sensei: @Html.ActionLink(course.CourseTeacher.UserName, "PublicProfile", "Profile", new { profileId = course.CourseTeacher.Id }, null)</p>
        <img class="coursePic" src="http://placehold.it/250/ffcb63/47b7b7?text=Coming+Soon">
        <p>@course.Description</p>
        @Html.ActionLink("Se kursus", "SingleCourse", "Courses", new { courseId = course.CourseID }, null)
    </div>
}
    <div class="clearfix"></div>
</section>