@using MySensei.ViewModels
@model MySensei.Models.Course
@{
    ViewBag.Title = "Opret Kursus";
}
<section style="margin-top:-20px;">
    <section class="edit">
        <h1>Opret kursus</h1>
        @using (Html.BeginForm("AddCourse", "Profile", FormMethod.Post, new { @class = "mform" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <fieldset>
                <section class="mform">
                    <label class="input">Titel</label>
                    
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.courseTitle } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                   </section>
                    <section class="mform">
                        <label class="input">Beskrivelse</label>
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "mform" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        
                    </section>
                    <section class="mform">
                        <label class="input">Star Dato</label>
                        
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                       
                    </section>
                    <section class="mform">
                        <label class="input">Slut Dato</label>
                        
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        
                    </section>
                    <section class="mform">
                        <label class="input">Antal lektioner</label>
                        
                            @Html.EditorFor(model => model.NumberOfLessons, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumberOfLessons, "", new { @class = "text-danger" })
                     
                    </section>

                    <section class="mform">
                        <table>
                            <tr>
                                @{
                                    int cnt = 0;
                                    List<AssignedTagData> tags = ViewBag.Tags;
                                    foreach (var tag in tags)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                            @:</tr><tr>
        }
                                        @:<td style="padding: 0 0 0 10px">
                                            <input type="checkbox"
                                                   name="selectedTags"
                                                   value="@tag.TagID"
                                                   @(Html.Raw(tag.Assigned ? "checked=\"checked\"" : "")) />
                                            @tag.TagName
                                            @:</td>
            }
                                    @:</tr>
                                }
                            </table>
                        </section>
                        </fieldset>
                        <section class="mform">
                            <button type="submit" class="button">Opret</button>
                        </section>

                                    }
        <div>
            @Html.ActionLink("Fortryd", "Index")
        </div>
    </section>
</section>
<div class="clearfix"></div>