@model MySensei.Models.AppUser
@{ ViewBag.Title = "Edit"; }
@Html.ValidationSummary(false)
<section style="margin-top:-40px;">
    <section class="edit">
        <h1>Rediger oplysninger</h1>
        @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { @class = "mform" }))
        {
            @Html.HiddenFor(x => x.Id)

            <fieldset>
                <section class="mform">
                    <label class="input">Fornavn</label>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "mform" })
                </section>

                <section class="mform">
                    <label class="input">Efternavn</label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "mform" })
                </section>

                <section class="mform">
                    <label class="input">Beskrivelse</label>
                    @Html.TextAreaFor(x => x.Description, new { @class = "mform" })
                </section>
                <section class="mform">
                    <label class="input">Brugernavn</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "mform" })
                </section>

                <section class="mform">
                <label class="input">Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "mform" })
                </section>

                <section class="mform">
                    <label class="input">Password</label>
                    <input name="password" type="password" class="mform" />
                </section>
            </fieldset>
                    <button type="submit" class="button">Gem</button>
                    @Html.ActionLink("Fortryd", "Index", null, new { @class = "button" })
        }
        <div class="clearfix"></div>
    </section>
    </section>