<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/styles.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .container {
            padding-top: 10px;
        }
        .validation-summary-errors {
            color: #f00;
        }
    </style>
</head>
    <body class="container">
        <nav>
            <ul>
                @*<li>@Html.ActionLink("Users", "Index", "Admin")</li>
                <li>@Html.ActionLink("Roles", "Index", "RoleAdmin")</li>
                <li>@Html.ActionLink("Courses", "Index", "Courses")</li>*@
            </ul>
        </nav>
        <div class="container">
            
            @if (!User.Identity.IsAuthenticated)
            {
                //Login
            }

            @RenderBody()
        </div>


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    </body>
</html>